.conf_rating{
  margin-top: 0%;
}

/***** Chrome, Safari, Opera and Edge Chromium styles *****/
/* slider track */

.conf_rating .jspsych-html-slider-response-container #jspsych-html-slider-response-response::-webkit-slider-runnable-track {
  background: transparent;
  border: 0;
  height: 25px;
  

}


/* thumb */

.conf_rating .jspsych-html-slider-response-container #jspsych-html-slider-response-response::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  margin-top: -1.5px;
  background: #F2F1F1;
  border: 1px solid #999999;




}


.conf_ins{
  position: absolute;
  background-color: transparent;
  height: 25px;
  border: thin solid black;
  margin-left: 25%;

}



.conf_instructions .jspsych-html-slider-response-container #jspsych-html-slider-response-response::-webkit-slider-runnable-track {
  background: transparent;
  border: 0;
  height: 25px;
  

}


.conf_instructions .jspsych-html-slider-response-container #jspsych-html-slider-response-response::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  margin-top: -1.5px;
  background: #F2F1F1;
  border: 1px solid #999999;




}


.conf{
  position: absolute;
  background-color: transparent;
  height: 25px;
  border: thin solid black;

}

#conf1{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#conf2{
  border-left: 0;
}


#conf3{
  border-left: 0;
}

#conf4{
  border-left: 0;
}


#conf5{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}





.sliderStyle {
  -webkit-appearance: none;
  margin: -25px 0;
  width: 100%;
  z-index: 20;

}
.sliderStyle:focus {
  outline: none;
}
.sliderStyle::-webkit-slider-runnable-track {
  width: 90%;
  height: 20px;
  cursor: pointer;
    overflow: visible;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: orange;
  border-radius: 1.6px;
  border: 0.1px solid #010101;
  z-index: 20;
}
.sliderStyle::-webkit-slider-thumb {
  box-shadow: -80px 0 0 80px #0098A6;
  overflow: visible;
  border: 1px solid #000000;
  height: 25px;
  width: 25px;
  border-radius: 3px;
  background: transparent;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
  z-index: 20;
}
.sliderStyle:focus::-webkit-slider-runnable-track {
  background: #367ebd;
    overflow: visible;
}
.sliderStyle::-moz-range-track {
  width: 100%;
  height: 20px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: transparent;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
  z-index: 20;
}
.sliderStyle::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #e6e6e6;
  cursor: pointer;
  z-index: 20;
}
.sliderStyle::-ms-track {
  width: 100%;
  height: 20px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
  z-index: 20;
}
.sliderStyle::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  z-index: 20;
}
.sliderStyle::-ms-fill-upper {
  background: transparent;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  z-index: 20;
}
.sliderStyle::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #e6e6e6;
  cursor: pointer;
  z-index: 20;
}
.sliderStyle:focus::-ms-fill-lower {
  background: transparent;
  z-index: 20;
}
.sliderStyle:focus::-ms-fill-upper {
  background: #367ebd;
  z-index: 20;
}



